body{
font-family:Arial;
margin:0;
background:#f4f4f4;
}

header{
background:#222;
color:white;
padding:20px;
text-align:center;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
}

.hero{
padding:60px;
text-align:center;
background:#0077ff;
color:white;
}

section{
padding:40px;
text-align:center;
}

.skill{
display:inline-block;
background:#ddd;
padding:10px;
margin:10px;
border-radius:5px;
}

.project{
background:white;
padding:20px;
margin:20px;
border-radius:5px;
}

form input, form textarea{
width:300px;
padding:10px;
margin:10px;
}

button{
padding:10px 20px;
background:#0077ff;
color:white;
border:none;
cursor:pointer;
}

.whatsapp{
position:fixed;
bottom:20px;
left:20px;
background:#25D366;
color:white;
padding:10px 15px;
text-decoration:none;
}

.chatbot{
position:fixed;
bottom:20px;
right:20px;
}

#chatbox{
display:none;
background:white;
border:1px solid #ccc;
padding:10px;
margin-top:10px;
}
