body{

margin:0;
font-family:Arial;
background:#0b0b0b;
color:white;

}

header{

display:flex;
justify-content:space-between;
padding:20px 80px;
align-items:center;

}

.logo{

font-size:22px;
font-weight:bold;
color:#00ffb3;

}

nav a{

margin-left:25px;
text-decoration:none;
color:white;

}

.cv-btn{

background:#00ffb3;
padding:10px 20px;
border-radius:20px;
color:black;

}

.hero{

display:flex;
align-items:center;
justify-content:space-between;
padding:80px;

}

.hero-text h1{

font-size:70px;
margin:10px 0;

}

.hero-text h3{

color:#00ffb3;

}

.main-btn{

background:#00ffb3;
padding:12px 25px;
border:none;
border-radius:20px;
cursor:pointer;

}

.hero-img img{

width:350px;
border-radius:20px;

}

.stats{

display:flex;
justify-content:space-around;
padding:40px;
background:#111;

}

.stat h2{

color:#00ffb3;

}

.about{

display:flex;
justify-content:space-between;
padding:80px;

}

.about-text{

width:50%;

}

.about-img img{

width:300px;
border-radius:20px;

}

.projects{

padding:80px;

}

.project-card{

background:#111;
padding:25px;
margin:20px 0;
border-radius:10px;

}

.contact{

padding:80px;

}

footer{

text-align:center;
padding:20px;
background:#111;

}
